@font-face {
	font-family: 'text_font';
	src: url('fonts/IckyTicketMono.ttf');
}
@font-face {
	font-family: 'title_font';
	src: url('fonts/Romanica.ttf');
}

#contact-form {
	text-align: center;
}

#contact-form h3 {
	font-family: title_font;
	color: #333333;
}

#contact-form form {
	display: inline-block;
	text-align: left;
	font-family: text_font;
	color: #404040;
}

#contact-form p {
	color: red;
}