body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a.siteName {
    padding: 25px 150px;
    font-size: 25px;
}

li span {
    padding: 25px 15px;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
}

li a:hover.siteName {
    color: #f6546a;
}

li span:hover {
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 15px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f6546a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Banner */ 
.banner {
  background: #3BB9FF;
  margin-top: 79px;
}

.banner h1 {
  text-align: center;
  font-size: 50px;
  color: white;
  padding: 200px 50px 30px 50px;
}

.banner button {
  background: #3BB9FF;
  padding: 15px 30px;
  outline: 0;
  border: 2px solid #D8D8D8; 
  color: white;
  font-size: 20px;
  margin: 10px 680px 130px 680px;
  cursor: pointer;
}

.banner button:hover {
  background-color: #5CB3FF;
}