body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a.siteName {
    padding: 25px 150px;
    font-size: 25px;
}

li span {
    padding: 25px 15px;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
}

li a:hover.siteName {
    color: #f6546a;
}

li span:hover {
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 15px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f6546a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Banner */ 
.banner {
  background: #3BB9FF;
  margin-top: 79px;
  text-align: center;
  -webkit-animation-name: banner_anim; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: banner_anim;
  animation-duration: 8s;
}

.banner h1 {
  font-size: 50px;
  color: white;
  padding: 180px 50px 50px 50px;
  font-family: 'Waiting for the Sunrise', cursive; 
  letter-spacing: 6px; 
  font-weight: bold;
}

.banner button {
  background: #3BB9FF;
  padding: 15px 30px;
  outline: 0;
  border: 2px solid #D8D8D8; 
  color: white;
  font-size: 20px;
  margin: 10px 10px 100px 10px;
  cursor: pointer;
  -webkit-animation-name: banner_anim; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: banner_anim;
  animation-duration: 8s;
}

.banner button:hover {
  background-color: #5CB3FF;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes banner_anim {
    0% {background-color: #FF4C33;}
    25% {background-color: #F9FF33;}
    50% {background-color: #7BFF33;}
    75% {background-color: #33FF92;}
    100% {background-color: #33FFDF;}   
}

/* Standard syntax */
@keyframes banner_anim {
    0% {background-color: #FF4C33;}
    25% {background-color: #F9FF33;}
    50% {background-color: #7BFF33;}
    75% {background-color: #33FF92;}
    100% {background-color: #33FFDF;}   
}

.article {
  text-align: center;
}

.topic {
  background: #800000;
  width: 50%;
  float: left;
  padding: 310px 0px;
}

.desc {
  background: white;
  position: relative;
  width: 50%;
  float: right;
  padding: 310px 0px;
}

